{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login-container">
    <div class="card login-form">
        <h2>Acesso ao Sistema</h2>
        <form method="POST">
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" id="email" name="email" required placeholder="Digite seu e-mail">
            </div>
            <div class="form-group">
                <label for="password">Senha</label>
                <input type="password" id="password" name="password" required placeholder="Digite sua senha">
            </div>
            <button type="submit" class="btn btn-primary" style="width: 100%; margin-top: 10px;">Entrar</button>
        </form>
        <p style="margin-top: 20px; font-size: 0.9em; opacity: 0.8;">
            <br>
            <b>Teste com:</b><br>
            Admin: `admin@hotel.com` / `admin123`<br>
            Hóspede: `hospede@hotel.com` / `hospede123` <br>
            Recepcionista: `recepcionista@hotel.com` / `recepcionista123` <br>
            Camareira: `camareira@hotel.com` / `camareira123`
        </p>
    </div>
</div>
{% endblock %}